/* HEADER */
#header-grid {
    background-color: aqua;
    display: grid;
    grid-template-columns: 150px auto 300px;
    grid-template-rows: 100px 50px;
    /* text-align: center; */
    align-items: center;
}

.logo {
    margin-left: 25px;
    grid-column: 1/2;
    grid-row: 1/2;
}

#header-grid h1 {
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;
}

#form {
    text-align: right;
    margin-right: 25px;
    grid-column: 3/4;
    grid-row: 1/2;
}

.nav {
    background-color: blue;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: space-around;
    border: 3px solid #00B4D8;
}

nav {
    margin: 15px auto;
    text-align: center;

}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 0 35px;
}



/* nav {
    display: flex;
    justify-content: space-around;
}



nav a:hover {
    background-color: #00B4D8;
    color: white;
} */


/* FOOTER */
footer {
    background-color: #0077B6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

footer h3 {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer .social img {
    padding-top: 15px;
}

footer h3 a:hover {
    text-decoration: underline;
}




/* MAIN PAGE */
main {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #90E0EF;
    font-size: 22px;
}

.logo, .icon {
    width: 80px;
}


/* HOME */

#home-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.welcome {
    text-align: center;
    grid-column: 1/3;
}

.banner-img {
    width: 100%;
    grid-column: 1/3;
}






/* FIGURES AND MODEL KITS */










/* 3D PRINTING AND CUSTOMIZATION*/









