@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Rubik:wght@300&display=swap');

/* Look at -> https://coolors.co/3c1642-086375-1dd3b0-affc41-b2ff9e*/

:root {
  --primary-color: #3c1642   ;
  --secondary-color: #086375 ;
  --accent1-color: #1dd3b0;
  --accent2-color: #affc41;

  --heading-font: "Passion One";
  --paragraph-font: Rubik, Helvetica, sans-serif;

  --headline-color-on-white: #086375;  /* headlines on a white background */ 
  --headline-color-on-color: #3c1642; /* headlines on a colored background */ 
  --paragraph-color-on-white: #086375; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #affc41; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1dd3b0  ;
  --nav-link-color: #affc41;
  --nav-background-color: #1dd3b0;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #1dd3b0;
}


/* HEADER */
#header-grid {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto 300px;
    grid-template-rows: 100px 50px;
    align-items: center;
}

.logo {
    margin-left: 25px;
    grid-column: 1/2;
    grid-row: 1/2;
}

#header-grid h1 {
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Passion One', Verdana, sans-serif;
    color: var(--accent1-color);
}

#form {
    text-align: right;
    margin-right: 25px;
    grid-column: 3/4;
    grid-row: 1/2;
}

#form input {
    height: 40px;
    background-color: var(--accent1-color);
}

#form button {
    height: 40px;
    background-color: var(--accent1-color);
}

.nav {
    background-color: var(--secondary-color);
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: space-around;
    border: 10px solid var(--primary-color);
    font-family: Rubik, Verdana, sans-serif;
}

nav {
    /* margin: 15px auto; */
    text-align: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
    color: var(--accent1-color);
}

nav a:hover {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}


/* FOOTER */
footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: Rubik, Verdana, sans-serif;
}

footer h3 {
    color: white;
    color: var(--accent1-color);
}

footer a {
    color: white;
    text-decoration: none;
    color: var(--accent1-color);
}

footer .social img {
    padding-top: 15px;
}

footer h3 a:hover {
    text-decoration: underline;
}


/* MAIN PAGE */
main {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-size: 22px;
}

.logo, .icon {
    width: 80px;
}

.welcome {
    text-align: center;
    font-family: 'Passion One', Verdana, sans-serif;
    font-size: 2em;
    color: var(--primary-color);
    margin-top: 45px;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: Rubik, Verdana, sans-serif;

}

.medium-img {
    width: 750px;
    border: 10px solid var(--secondary-color);
    box-shadow: 5px 5px 10px #6f7364;
}


/* HOME */
#home-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

#home-grid .welcome {
    grid-column: 1/3;
}

.banner {
    width: 1580px;
    height: 450px;
    grid-column: 1/3;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    border: 10px solid var(--secondary-color);
    box-shadow: 5px 5px 10px #6f7364;
}

.banner img {
    width: 100%;
}

#home-grid p {
    text-align: center;
    width: 70%;
    grid-column: 1/3;
    margin: 50px auto;
}

.figures-posing-img {
    grid-column: 1/2;
}

.tool-img {
    grid-column: 2/3;
}


/* FIGURES AND MODEL KITS */
#figures-grid {
    display: grid;
    grid-template-columns: 5% 30% 10% 10% 10% 30% 5%;
    grid-template-rows: 200px 500px 50px 500px 80px 500px;
    align-items: center;
    justify-items: center;
}

#figures-grid .welcome {
    grid-column: 1/8;
    grid-row: 1/2;
}

#figures-grid .left {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 0 30px;  
}

.figure-boxes-img {
    grid-column: 4/7;
    grid-row: 2/4;
    z-index: 1;
    width: 700px;
}

.gengar-img {
    grid-column: 2/5;
    grid-row: 3/5;
    width: 700px;
}

#figures-grid .right {
    grid-column: 5/7;
    grid-row: 4/5;
    margin: 0 50px;  
}

#figures-grid .banner-img {
    grid-column: 1/8;
    grid-row: 6/7;
    width: 1580px;
    height: 500px;
    border: 10px solid var(--secondary-color);
    box-shadow: 5px 5px 10px #6f7364;
}




/* 3D PRINTING AND CUSTOMIZATION*/













/* SIMPLE COMPONENT */

/* Dropdown Button */
.dropbtn {
    outline: none;
    background: transparent;
    border: none !important;
    font-size: 22px;
    font-family: Rubik, Verdana, sans-serif;
    margin: 0;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    color: var(--accent1-color);
}

.dropbtn a:hover {
    background-color: var(--accent1-color);
    color: var(--primary-color);

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 222px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--accent1-color);
    color: var(--primary-color);
}





