/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Rubik:wght@300&display=swap');


.home-title {
    font-family: 'Passion One', Verdana, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

h2 {
    font-family: 'Passion One', Verdana, sans-serif;
    margin: 0;
}

h3 {
    font-family: 'Passion One', Verdana, sans-serif;
}

h4 {
    font-family: Rubik, Verdana, sans-serif;
}

.card-img {
    border: 10px solid #0077B6;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img, .mountains {
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #00B4D8;
    color: white;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    margin: 200px 0;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#background {
    height: 725px;
    background-color: #00B4D8;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    margin: 0;
    padding: 0;
    background-color: #90E0EF;
    font-size: 22px;
}

header {
    background-color: #00B4D8;
    display: grid;
    grid-template-columns: 150px auto;
}

.book, .join {
    background-color: #00B4D8;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
} 

.book:hover, .join:hover {
    background-color: #90E0EF;
    color: #0077B6;
}

.msg {
    background-color: #0077B6;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    font-family: Rubik, Verdana, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #0077B6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

footer h3 {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer .social img {
    padding-top: 15px;
}

footer h3 a:hover {
    text-decoration: underline;
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

a {
    font-family: Rubik, Verdana, sans-serif;
}



/* Rivers Page */
.rivers-grid {
    padding: 0px 100px;
}

.rivers-title {
    font-family: 'Passion One', Verdana, sans-serif;
    font-size: 3.5em;
    margin: 50px 0px;
    text-shadow: 5px 5px 10px #363831;
    color: white;
}

.rivers-grid h2 {
    color: white;
}

.rivers-grid p {
    color: white;
    font-family: Rubik, Verdana, sans-serif;
    font-size: .8em;
}

.salmon-river {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 50px;
    background-color: #0077B6;
    padding: 25px;
    align-items: center;
    justify-items: center;
}

#salmon-img {
    grid-column: 1/2;
    width: 100%;
    overflow: hidden;
}

.salmon-river .river-desc {
    text-align: left;
    grid-column: 2/3;
    padding-left: 50px;
}

.deso-canyon {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 50px;
    background-color: #0077B6;
    padding: 25px;
    align-items: center;
    justify-items: center;
}

#deso-canyon-img {
    grid-column: 2/3;
    width: 100%;
    overflow: hidden;
}

.deso-canyon .river-desc {
    text-align: right;
    grid-column: 1/2;
    padding-right: 50px;
}

.grand-canyon {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: -50px;
    background-color: #0077B6;
    padding: 25px;
    align-items: center;
    justify-items: center;
}

#grand-canyon-img {
    grid-column: 1/2;
    width: 100%;
    overflow: hidden;
}

.grand-canyon .river-desc {
    text-align: left;
    grid-column: 2/3;
    padding-left: 50px;
}

#salmon-img, #deso-canyon-img, #grand-canyon-img {
    border: 10px solid #00B4D8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #363831;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
