#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #00B4D8;
}

body {
    background-color: #90E0EF;
}

header {
    background-color: #00B4D8;
}

nav a:hover {
    background-color: #00B4D8;
    color: white;
}

.book, .join {
    background-color: #0077B6;
    color: white;
    text-decoration: none;
} 

.book:hover, .join:hover {
    background-color: #90E0EF;
    color: #0077B6;
}

.msg {
    background-color: #00B4D8;
}

footer {
    background-color: #0077B6;
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
}

footer h3 {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.logo, .icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
}
